.title-text {
  
  letter-spacing: 1px;
  color: #fbe7c6;

  height: 13rem;
  line-height: 0.9;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.card{
    
    border-right: 1px solid #ead2ab;
    border-left: 1px solid #ead2ab;
    




border: 1px solid rgba( 255, 255, 255, 0.18 );
}